@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage


    <div class='footer'>
        <div class="footer-social">
            <ul>
                <li><i class="fa-brands fa-facebook"></i></li>
                <li><i class="fa-brands fa-instagram"></i></li>
                <li><i class="fa-brands fa-twitter"></i></li>
                <li><i class="fa-brands fa-google"></i></li>
                <li><i class="fa-brands fa-linkedin"></i></li>
            </ul>
        </div>
        <div class="footer-small-container">
            <small>	&#169; 2022 Fixxo. All Rights Reserved</small>
        </div>

    </div>