@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage


<div class='navbar'>
      <div class="navbar-container">
        
        <div class="navbar-logo">
          <a href="/"> Fixxo.</a>
        </div>        
        
        <div class="navbar-site-links">
          <ul>
                <li><a href="/" class="navbar-link">Home</a></li>
                <li><a href="/contactus" class="navbar-link">Contact Us</a></li>
          </ul>
        
        </div>
      
        <div class="navbar-icons">
          <ul>
            <li><i class="fa-solid fa-magnifying-glass"></i></li>
            <li><i class="fa-solid fa-code-compare"></i></li>
            <li><i class="fa-regular fa-heart"></i></li>
            <li><i class="fa-regular fa-bag-shopping"></i></li>
          </ul>
        </div>
      </div>
    </div>